---
:concurrency: 5
:pidfile: tmp/pids/sidekiq.pid
:logfile: log/sidekiq.log
:timeout: 45
staging:
  :concurrency: 10
production:
  :concurrency: 20
:queues:
  - [system, 3]
  - [mail, 1]
  - [default, 1]
