// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tooltipster-msg {
  border-radius: 5px;
  border: 2px solid #000;
  background: #fcc;
}

.tooltipster-msg .tooltipster-content {
  font-size: 14px;
  line-height: 16px;
  padding: 4px 15px;
}
