@charset "utf-8";

a{outline:none;text-decoration:none}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal}
blockquote,q{quotes:"" ""}
body{ font-size:100%;}
:focus {outline: 0}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;font-family: Arial, Helvetica, sans-serif;font-style:inherit;font-weight:inherit; outline:none;text-align:left;text-decoration:none;vertical-align:top;margin:0;padding:0;-webkit-appearance: none;}
table{border-collapse:collapse;border-spacing:0}
li{list-style:none;list-style-type:none}
input{font-family: Arial, Helvetica, sans-serif;-webkit-appearance: none;}
input,textarea{font-family: Arial, Helvetica, sans-serif;-webkit-appearance: none;}
textarea{resize: vertical;}
input[type="submit"],input[type="checkbox"],input[type="radio"]{cursor: pointer;}
h1,h2,h3,h4,h5,h6{font-size:1em; font-weight:normal}
