li
  span=t('phone')
  p.tel
    span +44
    |&nbsp;
    dfn.num-2
    dfn.num-0
    |&nbsp;
    dfn.num-3
    dfn.num-5
    dfn.num-1
    dfn.num-9
    |&nbsp;
    dfn.num-7
    dfn.num-6
    dfn.num-4
    dfn.num-0
  p.tel
    span +32
    |&nbsp;
    dfn.num-4
    dfn.num-8
    dfn.num-9
    |&nbsp;
    dfn.num-2
    dfn.num-2
    |&nbsp;
    dfn.num-5
    dfn.num-1
    |&nbsp;
    dfn.num-7
    dfn.num-2
  p.mob_tel
    |+44 20 3519 7640
  p.mob_tel
    |+32 489 22 51 72
  li
    span E-mail:
    p sayhello@webgate.pro
