li
  span=t('phone')
  p.tel
    span +48
    |&nbsp;
    dfn.num-3
    dfn.num-2
    |&nbsp;
    dfn.num-7
    dfn.num-2
    dfn.num-7
    |&nbsp;
    dfn.num-5
    dfn.num-1
    dfn.num-8
    dfn.num-6
  p.tel
    span +32
    |&nbsp;
    dfn.num-4
    dfn.num-8
    dfn.num-9
    |&nbsp;
    dfn.num-2
    dfn.num-2
    |&nbsp;
    dfn.num-5
    dfn.num-1
    |&nbsp;
    dfn.num-7
    dfn.num-2
  p.mob_tel
    |+48 32 727 51 86
  p.mob_tel
    |+32 489 22 51 72
li
  span E-mail:
  p sayhello@webgate.pro
