li
  span=t('phone')
  p.tel
    span +48
    |&nbsp;
    dfn.num-6
    dfn.num-0
    dfn.num-7
    |&nbsp;
    dfn.num-7
    dfn.num-2
    dfn.num-2
    |&nbsp;
    dfn.num-2
    dfn.num-7
    dfn.num-0
  p.tel
    span +48
    |&nbsp;
    dfn.num-8
    dfn.num-8
    dfn.num-3
    |&nbsp;
    dfn.num-1
    dfn.num-1
    dfn.num-7
    |&nbsp;
    dfn.num-3
    dfn.num-1
    dfn.num-0
  p.mob_tel
    |+48 607 722 270
  p.mob_tel
    |+48 883 117 310
li
  span E-mail:
  p sayhello@webgate.pro
