li
  span=t('phone')
  p.tel
    span +43
    |&nbsp;
    dfn.num-6
    dfn.num-6
    dfn.num-0
    |&nbsp;
    dfn.num-6
    dfn.num-8
    dfn.num-9
    dfn.num-8
    dfn.num-1
    dfn.num-4
    dfn.num-5
  p.tel
    span +48
    |&nbsp;
    dfn.num-6
    dfn.num-0
    dfn.num-7
    |&nbsp;
    dfn.num-7
    dfn.num-2
    dfn.num-2
    |&nbsp;
    dfn.num-2
    dfn.num-7
    dfn.num-0
  p.mob_tel
    |+43 660 6898145
  p.mob_tel
    |+48 607 722 270
li
  span E-mail:
  p sayhello@webgate.pro
