<div class="footer" id="footer">
  <div class="footer_content">
    <span class="up">do góry</span>
    <p>Masz pytania? Zapraszamy do kontaktu. Skorzystaj z naszego formularza lub zadzwoń</p>
    <div class="column">
      <ul class="contacts">
        <li>
          <span>telefon:</span>
          <p class="tel"><span>+48</span> <dfn class="num-3"></dfn><dfn class="num-2"></dfn> <dfn class="num-7"></dfn><dfn class="num-2"></dfn><dfn class="num-7"></dfn> <dfn class="num-5"></dfn><dfn class="num-1"></dfn><dfn class="num-8"></dfn><dfn class="num-6"></dfn></p>
          <p class="tel"><span>+48</span> <dfn class="num-8"></dfn><dfn class="num-8"></dfn><dfn class="num-3"></dfn> <dfn class="num-1"></dfn><dfn class="num-1"></dfn><dfn class="num-7"></dfn> <dfn class="num-3"></dfn><dfn class="num-1"></dfn><dfn class="num-0"></dfn></p>
        </li>
        <li>
          <span>e-mail:</span>
          <p>biuro@webgate.pro</p>
        </li>
        <li>
          <span>skype:</span>
          <a href="skype:sladkowski" class="skype">sladkowski</a>
          <a href="#" class="rss"></a>
          <%= link_to '', 'https://twitter.com/WebgateSystems', class: 'twi', rel: 'nofollow' %>
          <a href="#" class="fb"></a>
        </li>
      </ul>
      <p class="copy">&copy; 2011 webgate.pro  Wszelkie prawa zastrzeżone<%= link_to '.', admin_root_path %></p>
    </div><!-- END column -->
    <div class="column">
      <iframe width="290" height="233" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Konstytucji+19,+Sosnowiec,+Poland&amp;aq=&amp;sll=50.272995,19.13372&amp;sspn=0.039662,0.073042&amp;ie=UTF8&amp;hq=&amp;hnear=Konstytucji+19,+Sosnowiec,+%C5%9Bl%C4%85skie,+Poland&amp;t=m&amp;ll=50.245833,19.163547&amp;spn=0.006394,0.012488&amp;z=15&amp;output=embed"></iframe>
      <a class="link_map" href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Konstytucji+19,+Sosnowiec,+Poland&amp;aq=&amp;sll=50.272995,19.13372&amp;sspn=0.039662,0.073042&amp;ie=UTF8&amp;hq=&amp;hnear=Konstytucji+19,+Sosnowiec,+%C5%9Bl%C4%85skie,+Poland&amp;t=m&amp;ll=50.245833,19.163547&amp;spn=0.006394,0.012488&amp;z=15">Kliknij aby powiększyć  <span>&raquo;</span></a>
    </div><!-- END column -->
    <div class="column">
      <form class="feedback">
        <input type="text" class="text_input" value="Imię i Nazwisko:" />
        <input type="text" class="text_input" value="Twój adres email" />
        <textarea>Treśc wiadomości</textarea>
        <input type="submit" class="submit" value="wyślij &raquo;" />
      </form>
      <p class="copy valid">Dokument zgodny z <a href="#" class="html5">HTML</a></p>
    </div><!-- END column -->
  </div><!-- END footer_content -->
</div><!-- END footer -->
