<div class="lang">
  <span><%= t('change_language') %>:</span>
  <ul>
    <li><%= link_to locale, 'javascript:;' %></li>
    <% other_langs.each do |l|  %>
        <li>
          <%= current_page?(root_path) ? link_to(l, root_path(lang: l)) : link_to(l.upcase, lang: l) %>
        </li>
    <% end %>
  </ul>
</div><!-- END lang -->