<div class="slider_nav">
  <a href="/creation.html" id="first">
    <span>Aplikacje sieciowe</span>
  </a>
  <a href="/applications-web-cms.html" id="second">
    <span>Hosting</span>
  </a>
  <a href="/accessibilite.html" id="third">
    <span>Pozycjonowanie</span>
  </a>
  <a href="/flash.html" id="fourth">
    <span>Terminale</span>
  </a>
  <a href="http://formations.alsacreations.fr/" id="fifth">
    <span>Szkolenia</span>
  </a>
  <a href="http://formations.alsacreations.fr/" id="sixth">
    <span>Obliczenia numeryczne</span>
  </a>
</div><!-- END slider_nav -->
