.slider_nav
  a#first href="/creation.html"
    span Création web
  a#second href="/applications-web-cms.html"
    span Appli / CMS
  a#third href="/accessibilite.html"
    span Accessibilité
  a#fourth href="/flash.html"
    span Flash/AJAX
  a#fifth href="http://formations.alsacreations.fr/"
    span Formations
  a#sixth href="http://formations.alsacreations.fr/"
    span Obliczenia numeryczne
