doctype html
html lang="en"
  head
    meta charset='utf-8'
    meta name='viewport' content='width=device-width, initial-scale=1.0'

    title= content_for?(:title) ? yield(:title) : 'Webgate Systems - dashboard'

    = stylesheet_link_tag 'admin', params[:controller], media: "all"
    = javascript_include_tag 'admin'
    = javascript_include_tag params[:controller]
    = javascript_include_tag "admin/test" if Rails.env.test?
    = csrf_meta_tags

  body
  nav.top-bar data-topbar=''
    ul.title-area
      li.name
        h1= link_to 'Webgate Systems', root_path
      li.toggle-topbar.menu-icon
        = link_to 'Menu', '#'
    section.top-bar-section
      ul.right
        li.divider
        li.has-dropdown
          = link_to t('content'), '#'
          ul.dropdown
            li= link_to t(:categories), admin_categories_path
            li= link_to t(:pages), admin_pages_path
            li= link_to t(:projects), admin_projects_path
            li= link_to t(:technology_groups), admin_technology_groups_path
            li= link_to t(:technologies), admin_technologies_path
        li.divider
        li.has-dropdown
          = link_to t('team'), '#'
          ul.dropdown
            li= link_to t(:users), admin_users_path
            li= link_to t(:members), admin_members_path
        li.divider
        li.has-dropdown
          = link_to locale.upcase, 'javascript:;'
          ul.dropdown
            - other_langs.each do |l|
              li= current_page?(admin_root_path) ? link_to(l.upcase, admin_root_path(lang: l)) : link_to(l.upcase, lang: l)

        li.divider
        li= link_to t('web_app_theme.logout'), logout_path

  .flash
    - flash.each do |type, message|
      div class=("message #{type}")
        p= message

  .row
    .large-12.columns
      = yield
