= render "layouts/header"
body
  .header
    = render 'layouts/lang'
    h1
      a href="#" 
        span
        | Webgate Systems
    = render 'layouts/menu'
  /! END header
  .wrapper
    .tabs_block
      .competences
        .slideshow
          .slide data-nav="first" 
            = image_tag "applications.png", width: 412, height: 322, alt: "Network applications"
            h2 Aplikacje sieciowe
            p Tworzymy aplikacje sieciowe na miarę potrzeb, dobieramy właściwe technologie, dbamy o wydajność i scalowalność powstających aplikacji, tworzymy czysty, dobrze przetestowany kod
            a.more href="#"  dowiedz się więcej
            .clear
          /! END slide
          .slide data-nav="second" 
            = image_tag "hosting.png", width: 412, height: 322, alt: "hosting"
            h2 Hosting
            p Le web c'est aussi de nouvelles applications en HTML5 pour plus d'interactivité et d'usages communiquants en temps réel.
            a.more href="#"  szczegóły oferty
            .clear
          /! END slide
          .slide data-nav="third" 
            = image_tag "domains.png", width: 412, height: 322, alt: "We are domain registrator"
            h2 Rejestracja domen
            p Jesteśmy rejestratorem i resellerem domain. Sprawdź nasz cennik - zawsze korzystne rozwiązania dla Twojego biznesu.
            a.more href="#"  cennik domen
            .clear
          /! END slide
          .slide data-nav="fourth" 
            = image_tag "ssl.png", width: 412, height: 322, alt: "We are SSL reseller"
            h2 Certyfikaty SSL
            p Jesteśmy resellerem certyfikatów SSL od najbardziej znanych wendorów na rynku. Posiadamy w ofercie zarówno te tańsze (DV) jak i te droższe (EV) certyfikaty.
            a.more href="#"  więcej o certyfikatach
            .clear
          /! END slide
          .slide data-nav="fifth" 
            = image_tag "outsourcing.png", width: 412, height: 322, alt: "Outsoursing"
            h2 Outsourcing
            p Durant nos sessions ou en régie, nous vous formons à HTML/CSS, jQuery, WordPress et l'accessibilité avec des programmes de qualité constamment mis à jour.
            a.more href="#"  więcej o outsouringu
            .clear
          /! END slide
          .slide data-nav="sixth" 
            = image_tag "design.png", width: 412, height: 322, alt: "Art design"
            h2 Design "z pazurem"
            p Durant nos sessions ou en régie, nous vous formons à HTML/CSS, jQuery, WordPress et l'accessibilité avec des programmes de qualité constamment mis à jour.
            a.more href="#"  wiecej o grafice
            .clear
          /! END slide
        /! /slideshow
        = render 'layouts/slider'
      /! END competences
    /! END tabs_block
    .carousel
      .carousel_content
        h2 Ostatnie realizacje:
        a.carousel_more href="#"  zobacz więcej realizacji &raquo;
        .carousel_block
          ul
            li
              a href="#" = image_tag "img2.jpg", width: 182, height: 114, alt: "img2"
              a.sitename href="#"  www.elmax.org
            li
              a href="#" = image_tag "img2.jpg", width: 182, height: 114, alt: "img2"
              a.sitename href="#"  www.elmax.org
            li
              a href="#" = image_tag "img2.jpg", width: 182, height: 114, alt: "img2"
              a.sitename href="#"  www.elmax.org
            li
              a href="#" = image_tag "img2.jpg", width: 182, height: 114, alt: "img2"
              a.sitename href="#"  www.elmax.org
            li
              a href="#" = image_tag "img2.jpg", width: 182, height: 114, alt: "img2"
              a.sitename href="#"  www.elmax.org
            li
              a href="#" = image_tag "img2.jpg", width: 182, height: 114, alt: "img2"
              a.sitename href="#"  www.elmax.org
          /! END carousel_block
      /! END carousel_content
    /! END carousel
  /! END wrapper
  = render "layouts/footer"
