<!DOCTYPE html>
<html>
<head>
	<title>Портфолио</title>
	<link href="css/style.css" rel="stylesheet" type="text/css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="js/jquery-ui-1.8.16.slider.js"></script>
	<script src="js/home_slider.js"></script>
	<script src="js/jquery.carousel.js"></script>
	<script src="js/jquery.roundabout.min.js"></script>
	<script src="js/scroll.js"></script>
	<script src="js/scripts.js"></script>
</head>

<body>
	<div class="header">
		<div class="lang">
			<span>Zmień język:</span>
			<ul>
				<li><a href="#pl">PL</a></li>
				<li><a href="http://seo-bomj.ru/webgate/">RU</a></li>
				<li><a href="http://seo-bomj.ru/webgate/">EN</a></li>
			</ul>
		</div><!-- END lang -->
		<h1><a href="#"><span></span>Webgate Systems</a></h1>		
		<ul class="top_nav">
			<li class="active"><a href="#">Strona główna</a></li>
			<li><a href="#">O firmie</a></li>
			<li><a href="#">Czym się zajmujemy?</a></li>
			<li><a href="#">Portfolio</a></li>
			<li><a href="#footer" class="scroll">Kontakt</a></li>
		</ul><!-- END top_nav -->
	</div><!-- END header -->
	<div class="wrapper">
		<div class="tabs_block">   		
			<div class="competences">
				<div class="content">
					<h2>Portfolio:</h2>
					<div class="site_desc">
						<div class="portfolio_carousel_block">
							<ul class="portfolio_carousel">
								<li><img src="images/img2.jpg" width="182" height="114" alt="" /></li>
								<li><img src="images/img2.jpg" width="182" height="114" alt="" /></li>
								<li><img src="images/img2.jpg" width="182" height="114" alt="" /></li>
							</ul><!-- END portfolio_carousel -->
							<h3>Sprawdź on-line: <a href="#">www.elmax.org</a></h3>
						</div><!-- END portfolio_carousel_block -->
						<div class="desc_text">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at aliquet nibh. Sed tincidunt dolor sed elit suscipit eu dictum metus vestibulum. Mauris consequat cursus diam id congue. Integer ipsum ante, adipiscing non cursus sed, commodo sed elit. Vestibulum est massa, lobortis nec malesuada et, scelerisque eu dui. In in felis ut lacus tincidunt commodo. Curabitur et enim eros, ac fringilla dui. Proin accumsan suscipit nisl</p>
							<div class="portfolio_column">
								<h4>Użyte technologie:</h4>
								<ul>
									<li>- xHTML, CSS, PHP</li>
									<li>- jQuery</li>
								</ul>
							</div><!-- END portfolio_column -->
							<div class="portfolio_column">
								<h4>Użyte technologie:</h4>
								<ul>
									<li>- Pocięcie .PSD</li>
									<li>- Zakodowanie grafiki</li>
								</ul>
							</div><!-- END portfolio_column -->
						</div><!-- END desc_text -->
					</div><!-- END site_desc -->
					<div class="site_desc">
						<div class="portfolio_carousel_block">
							<ul class="portfolio_carousel">
								<li><img src="images/img2.jpg" width="182" height="114" alt="" /></li>
								<li><img src="images/img2.jpg" width="182" height="114" alt="" /></li>
								<li><img src="images/img2.jpg" width="182" height="114" alt="" /></li>
							</ul><!-- END portfolio_carousel -->
							<h3>Sprawdź on-line: <a href="#">www.elmax.org</a></h3>
						</div><!-- END portfolio_carousel_block -->
						<div class="desc_text">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at aliquet nibh. Sed tincidunt dolor sed elit suscipit eu dictum metus vestibulum. Mauris consequat cursus diam id congue. Integer ipsum ante, adipiscing non cursus sed, commodo sed elit. Vestibulum est massa, lobortis nec malesuada et, scelerisque eu dui. In in felis ut lacus tincidunt commodo. Curabitur et enim eros, ac fringilla dui. Proin accumsan suscipit nisl</p>
							<div class="portfolio_column">
								<h4>Użyte technologie:</h4>
								<ul>
									<li>- xHTML, CSS, PHP</li>
									<li>- jQuery</li>
								</ul>
							</div><!-- END portfolio_column -->
							<div class="portfolio_column">
								<h4>Użyte technologie:</h4>
								<ul>
									<li>- Pocięcie .PSD</li>
									<li>- Zakodowanie grafiki</li>
								</ul>
							</div><!-- END portfolio_column -->
						</div><!-- END desc_text -->
					</div><!-- END site_desc -->
				</div><!-- END content -->
    			<div class="slider_nav">
	  				<a href="/creation.html" id="first">
						<span>Création web</span>
	  				</a>
	  				<a href="/applications-web-cms.html" id="second">
        				<span>Appli / CMS</span>
	  				</a>
	  				<a href="/accessibilite.html" id="third">
		 				<span>Accessibilité</span>
	  				</a>
	  				<a href="/flash.html" id="fourth">
						<span>Flash/AJAX</span>
	  				</a>
	  				<a href="http://formations.alsacreations.fr/" id="fifth">
						<span>Formations</span>
	  				</a>
	  				<a href="http://formations.alsacreations.fr/" id="sixth">
						<span>Obliczenia numeryczne</span>
	  				</a>
    			</div><!-- END slider_nav -->
  			</div><!-- END competences -->
		</div><!-- END tabs_block -->
	</div><!-- END wrapper -->
	<div class="footer" id="footer">
		<div class="footer_content">
			<span class="up">do góry</span>
			<p>Masz pytania? Zapraszamy do kontaktu. Skorzystaj z naszego formularza lub zadzwoń</p>
			<div class="column">				
				<ul class="contacts">
					<li>
						<span>telefon:</span>
						<p class="tel"><span>+48</span> <dfn class="num-1"></dfn><dfn class="num-2"></dfn><dfn class="num-3"></dfn> <dfn class="num-4"></dfn><dfn class="num-5"></dfn><dfn class="num-6"></dfn> <dfn class="num-7"></dfn><dfn class="num-8"></dfn><dfn class="num-9"></dfn><dfn class="num-0"></dfn></p>
						<p class="tel"><span>+48</span> 32 327 12 34</p>
					</li>
					<li>
						<span>e-mail:</span>
						<p>biuro@webgate.pl</p>
					</li>
					<li>
						<span>skype:</span>
						<a href="skype:webgate" class="skype">webgate</a>						
						<a href="#" class="rss"></a>
						<a href="#" class="twi"></a>
						<a href="#" class="fb"></a>
					</li>
				</ul>
				<p class="copy">&copy; 2011 webgate.pro  Wszelkie prawa zastrzeżone</p>
			</div><!-- END column -->
			<div class="column">
				<iframe width="290" height="233" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Ostrog%C3%B3rska+15,+Sosnowiec,+Poland&amp;aq=&amp;sll=50.27299,19.13374&amp;sspn=0.008832,0.014291&amp;ie=UTF8&amp;hq=&amp;hnear=Ostrog%C3%B3rska+15,+Sosnowiec,+%C5%9Bl%C4%85skie,+Poland&amp;t=m&amp;ll=50.272995,19.13372&amp;spn=0.015909,0.020342&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
				<a class="link_map" href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Ostrog%C3%B3rska+15,+Sosnowiec,+Poland&amp;aq=&amp;sll=50.27299,19.13374&amp;sspn=0.008832,0.014291&amp;ie=UTF8&amp;hq=&amp;hnear=Ostrog%C3%B3rska+15,+Sosnowiec,+%C5%9Bl%C4%85skie,+Poland&amp;t=m&amp;ll=50.272995,19.13372&amp;spn=0.015909,0.020342&amp;z=14&amp;iwloc=A" >Kliknij aby powiększyć  <span>&raquo;</span></a>
			</div><!-- END column -->
			<div class="column">
				<form class="feedback">
					<input type="text" class="text_input" value="Imię i Nazwisko:" />
					<input type="text" class="text_input" value="Twój adres email" />
					<textarea>Treśc wiadomości</textarea>
					<input type="submit" class="submit" value="wyślij &raquo;" />
				</form>
				<p class="copy valid">Dokument zgodny z <a href="#" class="html5">HTML</a></p>
			</div><!-- END column -->
		</div><!-- END footer_content -->
	</div><!-- END footer -->
</body>
</html>